@import "src/colors";

.sender-name {
  color: $gray-medium;
  font-size: 24px;
  margin-bottom: 8px;
}

.page-title {
  font-weight: bolder;
  margin: 0;
  padding-bottom: 18px;
  padding-top: 18px;
}
