@import "src/colors";

.rock-item {
  padding: 10px;
  margin-bottom: 6px;
  margin-left: 20px;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding-bottom: 33px;
  position: relative;
}

.title {
  font-weight: bold;
  color: #00ace6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timestamp {
  position: absolute;
  right: 8px;
  bottom: 4px;
  color: $gray-medium;
}
