.floating-button {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background: #00dfcd;
  border: none;
  color: white;
  box-shadow: 0 0 20px #cbcbcb;
}
