@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.85);
  }
}

.spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3AA7E4;
  animation: pulse .4s ease 0s infinite alternate;
  animation-timing-function: ease-in;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
