html {
  height: 100%;
}
body {
  font-family: 'Quattrocento', serif;
  // font-family: 'Lato', sans-serif;
  color: #383838;
  font-size: large;
  min-height: 100%;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
  margin: 0 auto;
  // overscroll-behavior-y: contain;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-weight: bold;
}

button {
  background: #f6f6f6;
  border: 1px solid #808080;
  border-radius: 3px;
  padding: 3px 7px;

}
button:hover {
  background-color: white;
}
button:active {
  background-color: #eeeeee;
}
button:disabled {
  background-color: #f6f6f6;
  color: #aaaaaa;
  border-color: #aaaaaa;
}
